<nav class = "main">
    <ul>
        <li class = "active" id = "mnuAdd">Add</li>
        <li id = "mnuView">View</li>
        <li id = "mnuReport">Rep</li>
        <li id = "mnuOption">Opt</li>
        <li id = "mnuLogout">Logout</li>
    </ul>
</nav>